/input/csv/
/input/ddjj/
/input/csv.zip
/input/ddjj.zip
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/csv-editor.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/validaciones-PayGoal.iml
/.idea/vcs.xml
